<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/bootstrap-icons.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <!--Import fonte padrão-->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        body {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
        }

        /* #divBordaPagina {
            height: 795px;
            border: 1.5px solid;
            border-color: black;
        } */

        header {
            text-align: end;
            margin-top: -10px;
            margin-left: 750px;
            position: fixed;
        }

        #divImagem {
            width: 20%;
            margin-top: -40px;
            margin-left: 20px;
            position: fixed;
        }

        h3 {
            margin-top: 50px;
            margin-bottom: 70px;
            text-align: center;
            display: block;
            justify-content: center;
            align-items: center;
        }

        hr {
            border: 1px solid;
            border-color: black;
        }

        #divPeriodo {
            margin: 4px
        }

        /* table {
            margin: 5px;
            border: solid 1px black;
        } */

        #cabecalhoTabela {
            background-color: lightgray;
        }

        th {
            padding: 5px;
            text-align: center;
        }

        td {
            padding: 5px;
            text-align: center;
        }
    </style>

    <title>Reciclense - Coletas Solicitadas</title>
</head>

<body>
    <!-- 
    <div id="divBordaPagina"> -->

    <header><b>COOPERATIVA DO RECIFE<br>Rua do Recife, 321 - Recife - PE</b></header>

    <div class="container">
        <div id="divImagem">
            <img src="https://i.imgur.com/IeATclj.png" alt="Reciclense" width="160" height="95">
        </div>
    </div>

    <h3>COLETAS SOLICITADAS</h3>

    <div id="divPeriodo">
        <p><b>Período:</b>
            <%= dtInicio %> - <%= dtFim %>
        </p>
        <hr>
    </div>

    <table>
        <tr id="cabecalhoTabela">
            <th>Material</th>
            <th>Rua</th>
            <th>Número</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Complemento</th>
            <th>Data</th>
            <th>Horário</th>
            <th>Solicitante</th>
            <th>Observação</th>
        </tr>

        <%dados.forEach(element=> { %>
            <tr>
                <td>
                    <%= element.nm_material %>
                </td>
                <td>
                    <%= element.nm_logradouro %>
                </td>
                <td>
                    <%= element.numero %>
                </td>
                <td>
                    <%= element.nm_bairro %>
                </td>
                <td>
                    <%= element.nm_cidade %>
                </td>
                <td>
                    <%= element.sigla_uf %>
                </td>
                <td>
                    <%= element.nm_complemento %>
                </td>
                <td>
                    <%= element.data.split('-').reverse().join('/'); %>
                </td>
                <td>
                    <%= element.horario %>
                </td>
                <td>
                    <%= element.nm_usuario %>
                </td>
                <td>
                    <%= element.observacao %>
                </td>
            </tr>
            <%}) %>
    </table>
    <!-- </div> -->
</body>

<script type="text/JavaScript" src="../assets/js/listarColetas.js"></script>

</html>